<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-5 sm:py-6 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">

            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-black-500">เกษตรกร</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">/
                    <a class="ml-1 text-black-500">รายชื่อเกษตรกร</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-5  bg-white ">
        <div class="m-5 flex justify-between border-b-2">
            <div class="mb-5 text-xl font-extrabold tracking-tight">รายชื่อเกษตรกร</div>
        </div>


        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <!-- <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full">
                <thead>
                    <tr class="bg-gray-50">
                        <th class="border-bottom-0 w-50">เลขบัตรประชาชน</th>
                        <th class="border-bottom-0 w-50">ชื่อเกษตรกร</th>
                        <th class="border-bottom-0 w-50">เลขที่โควต้า</th>
                        <th class="border-bottom-0 w-50">เบอร์ติดต่อ</th>
                        <th class="border-bottom-0 w-50">จังหวัด</th>
                        <th class="border-bottom-0 w-50">เขต</th>
                        <th class="border-bottom-0 w-50">พื้นที่ (ไร่)</th>
                        <th class="border-bottom-0 w-50">จำนวนแปลง</th>
                        <th class="border-bottom-0 w-50"></th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td>{{item.idcard ?? '-'}}</td>
                        <td>{{item.name ?? '-'}}</td>
                        <td>{{item.qouta ?? '-'}}</td>
                        <td>{{item.phone ?? '-'}}</td>
                        <td>{{item.province_name ?? '-'}}</td>
                        <td>{{item.country_name ?? '-'}}</td>
                        <td>{{item.area ?? '-'}}</td>
                        <td>{{item.count_area ?? '-'}}</td>
                        <td>
                            <button (click)="goToProfile(item.qouta)" class="border-2 border-green-200 w-full rounded-md p-2 font-black hover:bg-slate-50">
                                <span class="ml-2 mr-1">รายละเอียด</span>
                            </button>

                        </td>
                    </tr>
                </tbody> -->
            <div class="flex justify-between items-center mb-4">
                <!-- กลุ่มทางซ้าย -->
                <div class="flex items-center space-x-4">
                    <!-- ช่องกรอกปี -->
                    <input type="text" placeholder="กรุณาระบุปี..." class="border p-2 rounded-md h-10 w-50"
                        [(ngModel)]="yearTerm" />

                    <!-- Dropdown เลือกสังกัด -->
                    <select class="border p-2 rounded-md h-10 w-50" [(ngModel)]="selectedProvince">
                        <option value="" disabled selected>เลือกสังกัด</option>
                        <option *ngFor="let item of province" [value]="item.factory_id">
                            {{ item.name }}
                        </option>
                    </select>
                </div>

                <!-- ปุ่มค้นหาชิดขวา -->
                <button class="border-2 border-blue-500 rounded-md font-black hover:bg-blue-50 px-6 text-blue-600 h-10"
                    (click)="searchFarmers()">
                    ค้นหา
                </button>
            </div>



            <div class="flex justify-between mb-4">
                <div class="flex items-center">
                    <label for="rowSelect" class="">แสดง</label>
                    <select id="rowSelect" [(ngModel)]="row" (change)="onPageLengthChange($event)"
                        class="border rounded-md p-2 mx-2 w-16 text-center">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                    <span>แถว</span>
                </div>
                <input type="text" placeholder="ค้นหา..." class="border p-2 rounded-md w-1/5" [(ngModel)]="searchTerm"
                    (ngModelChange)="onSearchChange($event)">
            </div>
            <table class="table row-border hover w-full text-center whitespace-nowrap">
                <thead class="bg-gray-700 text-black">
                    <tr class="bg-gray-200">
                        <th class="border-b-2 w-1/9 p-3 cursor-pointer" (click)="sortData('zone_farmer')">เขต</th>
                        <th class="border-b-2 w-1/9 p-3 cursor-pointer" (click)="sortData('Quota_id')">เลขที่โควต้า</th>
                        <th class="border-b-2 w-1/9 p-3 cursor-pointer" (click)="sortData('First_name')">ชื่อเกษตรกร
                        </th>
                        <th class="border-b-2 w-1/9 p-3 cursor-pointer" (click)="sortData('station_total')">จำนวนแปลง
                        </th>
                        <th class="border-b-2 w-1/9 p-3 cursor-pointer" (click)="sortData('area_total')">พื้นที่ (ไร่)
                        </th>
                        <th class="border-b-2 w-1/9 p-3 cursor-pointer" (click)="sortData('id_card_number')">
                            เลขบัตรประชาชน</th>
                        <th class="border-b-2 w-1/9 p-3 cursor-pointer" (click)="sortData('phone_number')">เบอร์ติดต่อ
                        </th>
                        <th class="border-b-2 w-1/9 p-3">สถานะการบันทึกกิจกรรม</th>
                        <th class="border-b-2 w-1/9 p-3"></th>
                    </tr>
                </thead>
                <tbody *ngIf="farmmer?.length" class="border-b-2">
                    <tr *ngFor="let item of farmmer; trackBy: trackByQuotaId"
                        class="hover:bg-gray-100 whitespace-nowrap">
                        <td class="p-3">{{ item.zone_farmer ?? '-' }}</td>
                        <td class="p-3">{{ item.Quota_id ?? '-' }}</td>
                        <td class="p-3">{{ item.First_name ?? '-' }} {{ item.Last_name ?? '-' }}</td>
                        <td class="p-3">{{ item.station_total ?? '-' }}</td>
                        <td class="p-3">{{ item.area_total ?? '-' }}</td>
                        <td class="p-3">{{ item.id_card_number ?? '-' }}</td>
                        <td class="p-3">{{ item.phone_number ?? '-' }}</td>
                        <td class="p-3">
                            <div class="grid-container">
                                <ng-container *ngFor="let monthKey of monthKeys; let index = index">
                                    <div class="grid-item w-6 h-6"
                                        [ngClass]="{'border-2 border-black-600 bg-green-600': isMonthActive(item, monthKey)}">
                                        {{ index + 1 }}
                                    </div>
                                </ng-container>
                            </div>
                        </td>
                        <td class="p-3">
                            <button (click)="goToProfile(item.Quota_id)"
                                class="border-2 border-green-500 text-green-500 w-full rounded-md p-2 font-bold">
                                รายละเอียด
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="flex items-center justify-between w-full pr-4 py-2">
                <!-- แสดงยอดรวม totalrecord ชิดซ้าย -->
                <div class="flex items-center">
                    <p class="text-black font-bold">จำนวนทั้งหมด:</p>
                    <p class="ml-2 border px-3 py-2 rounded">{{ totalrecord }}</p>
                </div>

                <!-- ปุ่มนำทาง ชิดขวา -->
                <div class="flex items-center space-x-1">
                    <button *ngIf="currentPage > 1"
                        class="text-black py-2 px-3 rounded hover:bg-slate-800 hover:text-white"
                        (click)="changePage(1)">
                        หน้าแรก
                    </button>
                    <button *ngIf="currentPage > 1"
                        class="text-black py-2 px-4 rounded hover:bg-slate-800 hover:text-white"
                        (click)="changePage(currentPage - 1)">ก่อนหน้า
                    </button>
                    <p class="border py-2 px-3 rounded">{{ currentPage }} / {{ totalPages }}</p>
                    <button *ngIf="currentPage < totalPages"
                        class="text-black py-2 px-4 rounded hover:bg-slate-800 hover:text-white"
                        (click)="changePage(currentPage + 1)">ถัดไป
                    </button>
                    <button *ngIf="currentPage < totalPages"
                        class="text-black py-2 px-3 rounded hover:bg-slate-800 hover:text-white"
                        (click)="changePage(totalPages)">
                        หน้าสุดท้าย
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>